/* Modal */
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1.5s;
}

.modal-content{
    background: #fff;
    padding: 20px;
    min-width: 400px;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
    transition-duration: 1.5s;
}

.modal-bt{
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Loader */
.load{background-color: black;opacity: 0.3}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: absolute;
    top:50%;
    left:50%;
    transform: rotate(45deg);
    z-index: 999;
}

.loader::before {
    content: '';
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: -24px;
    animation: animloader 4s ease infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: rgba(51, 122, 183, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    animation: animloader2 2s ease infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 0 24px rgba(51, 122, 183, 0), 24px 24px rgba(51, 122, 183, 0), 24px 48px rgba(51, 122, 183, 0), 0px 48px rgba(51, 122, 183, 0);
    }
    12% {
        box-shadow: 0 24px #337AB7, 24px 24px rgba(51, 122, 183, 0), 24px 48px rgba(51, 122, 183, 0), 0px 48px rgba(51, 122, 183, 0);
    }
    25% {
        box-shadow: 0 24px #337AB7, 24px 24px #337AB7, 24px 48px rgba(51, 122, 183, 0), 0px 48px rgba(51, 122, 183, 0);
    }
    37% {
        box-shadow: 0 24px #337AB7, 24px 24px #337AB7, 24px 48px #337AB7, 0px 48px rgba(51, 122, 183, 0);
    }
    50% {
        box-shadow: 0 24px #337AB7, 24px 24px #337AB7, 24px 48px #337AB7, 0px 48px #337AB7;
    }
    62% {
        box-shadow: 0 24px rgba(51, 122, 183, 0), 24px 24px #337AB7, 24px 48px #337AB7, 0px 48px #337AB7;
    }
    75% {
        box-shadow: 0 24px rgba(51, 122, 183, 0), 24px 24px rgba(51, 122, 183, 0), 24px 48px #337AB7, 0px 48px #337AB7;
    }
    87% {
        box-shadow: 0 24px rgba(51, 122, 183, 0), 24px 24px rgba(51, 122, 183, 0), 24px 48px rgba(51, 122, 183, 0), 0px 48px #337AB7;
    }
    100% {
        box-shadow: 0 24px rgba(51, 122, 183, 0), 24px 24px rgba(51, 122, 183, 0), 24px 48px rgba(51, 122, 183, 0), 0px 48px rgba(51, 122, 183, 0);
    }
}

@keyframes animloader2 {
    0% {
        transform: translate(0, 0) rotateX(0) rotateY(0);
    }
    25% {
        transform: translate(100%, 0) rotateX(0) rotateY(180deg);
    }
    50% {
        transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
    }
    75% {
        transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
    }
    100% {
        transform: translate(0, 0) rotateX(0) rotateY(360deg);
    }
}