@import "reset.css";
@import "element.css";

body{
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 886px;
    padding: 10px;
}

.center-container{
    margin: 0 auto;
    max-width: 886px;
}

h1{
    font-size: 20px;
    color: #24579d;
    margin-bottom: 10px;
}

a:link, a:visited{
    color:#24579d;
    font-size: 16px;
    text-decoration: underline;
}


a:active, a:hover  {
    color: #636363;
    text-decoration: none;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    height: 80px;
    background-color: #4e4e4e;
    min-width: 100%;
}

.nav-content{
    width: 100%;
}

button {
    background-color: #24579d;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #24579d;
}

button:hover {
    background-color: white;
    color: #24579d;
    border: 2px solid #24579d;
}

button.bt-active{
    background-color: white;
    color: #24579d;
    border: 2px solid #24579d;
}

.nav-content button {
    margin: 20px 6px 4px 0;
    padding: 8px 30px;
}

.bt-cart{
    float:right;
}

/* ProductList */
.filtrCat{
    margin-bottom: 20px
}

.filtrCat select{
    padding:5px;
}

.productList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.productID{
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.productID h3, #cart h3{
    font-weight: normal;
    color: #24579d;
    margin: 5px 0;
}

.productID p, #cart p{
    margin-bottom: 5px;
}

.productID button, #cart button, .comanda button{
    padding: 4px 8px;
}

/* Cart */
#cart h2{
    color: #24579d;
    margin: 5px 0;
}

#cart button{
    margin-top: 5px;
}

/* Comanda */
.comanda{
  width: 350px;
}

.comanda form{
    margin:20px 0;
}

.comanda label{
    float: left;
}

.comanda input, .comanda textarea{
    float:right;
}

.comanda div{
    margin-bottom: 20px;
}

.comanda a{
    float: right;
}

.comanda a:link, .comanda a:visited{
    color:#24579d;
    font-size: 16px;
    text-decoration: underline;
}

.comanda a:active, .comanda a:hover  {
    color: #636363;
    text-decoration: none;
}